<h2>Image Upload</h2>
    <div class="span12">
    <form method="post" action="/upload" enctype="multipart/form-data">
        <input type="file" name="images" id="imageUpload" class="btn btn-default imageUpload" required>
        <input type="hidden" name="group" value="<%= group %>">
        <input type="submit" name="submit" value="Submit">
    </form>
    </div>
</div>
